.about-heading{
  font-size: 56px;
  margin-bottom: 70px;
  text-align: center;
  color: white;
}

.about-cards{
  max-width: 1200px;
  margin: 0 auto;
}

.about-card{
  background: #ffffff;
  padding: 30px 30px;
  margin:20px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

.about-card h3{
  font-size: 22px;
  margin-bottom: 14px;
  color: #203a43;
}

.about-card p{
  font-size: 15px;
  line-height: 1.7;
  color: #555;
}

.about-content{
  height: 100vh;                   
  padding: 140px 10% 80px;           
  background-color: #203a43;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content::before{
  content: "";
  width: 80px;
  height: 4px;
  background: #7fe7c3;
  margin: 0 auto 40px;
  border-radius: 10px;
}

@media (max-width: 900px){
  .about-cards{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px){
  .about-content{
    padding: 120px 8% 60px;
  }

  .about-heading{
    font-size: 42px;
  }
}

