
.contact-hero{
  height: 35vh;
  background-color: rgba(0,0,0,0.45),
  url("../assets/contact.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-bottom:20px;
}

.contact-hero h1{
  font-family: 'Allura', cursive;
  font-size: 86px;
  margin-top:30px;
}

.contact-hero p{
  font-size: 18px;
  opacity: 0.9;
}

.contact-section{
  min-height: 100vh;
  padding: 20px 10% 80px;
  background: #f7f9fb;
}

.contact-container{
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-info h2{
  font-size: 32px;
  margin-bottom: 16px;
  color: #203a43;
}

.contact-info p{
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #555;
}

.contact-info ul{
  list-style: none;
  padding: 0;
}

.contact-info li{
  margin-bottom: 10px;
  font-size: 15px;
}

.contact-form{
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.contact-form h2{
  margin-bottom: 20px;
  font-size: 28px;
  color: #203a43;
}

.contact-form input,
.contact-form textarea{
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.contact-form textarea{
  resize: none;
  height: 120px;
}

.contact-form input:focus,
.contact-form textarea:focus{
  border-color: #7fe7c3;
}

.contact-form button{
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  background: #7fe7c3;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover{
  background: #7fe7c3;
}

@media (max-width: 900px){
  .contact-container{
    grid-template-columns: 1fr;
  }

  .contact-hero h1{
    font-size: 64px;
  }
}
