
.explore-hero{
  height: 40vh;
  background-color: #203a43,
              url("../assets/explore-hero.jpg") center/cover no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

}

.explore-hero h1{
  font-family: 'Allura', cursive;
  font-size: 80px;
}

.explore-hero p{
  font-size: 18px;
  opacity: 0.9;
}

.explore-section{
  padding: 80px 10%;
  background: #ffffff;

}

.light-bg{
  background: #f7f9fb;
}

.section-title{
  font-size: 48px;
  text-align: center;
  margin-bottom: 60px;
  color: #203a43;
}

.mood-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.mood-card{
  position: relative;
  height: 220px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}

.mood-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.mood-card::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.mood-card span{
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.mood-card:hover img{
  transform: scale(1.1);
}

/* JOURNEYS */
.journey-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.journey-card{
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.journey-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
  background-color: #f0fffe;
}

.journey-card h3{
  margin-bottom: 10px;
  font-size: 22px;
  transition: color 0.3s ease;
}

.journey-card:hover h3{
  color: #7fe7c3;
}

.journey-card p{
  font-size: 15px;
  color: #555;
  transition: color 0.3s ease;
}

.journey-card:hover p{
  color: #203a43;
}

.explore-cta{
  padding: 120px 10%;
  text-align: center;
  background: linear-gradient(to right, #203a43, #2c5364);
  color: #fff;
}

.explore-cta h2{
  font-size: 42px;
  margin-bottom: 30px;
}

@media (max-width: 900px){
  .mood-grid,
  .journey-grid{
    grid-template-columns: 1fr;
  }

  .explore-hero h1{
    font-size: 64px;
  }
}
