
.gallery-hero{
  height: 40vh;
  background-color:#203a43,
  url("../assets/gallery-hero.jpg") center/cover no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.gallery-hero h1{
  font-family: 'Allura', cursive;
  font-size: 96px;
}

.gallery-hero p{
  font-size: 18px;
  opacity: 0.9;
}

/* SECTION */
.gallery-section{
  min-height: 100vh;
  padding: 100px 10%;
  background: #f7f9fb;
}

/* GRID */
.gallery-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.gallery-card{
  position: relative;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

/* IMAGE */
.gallery-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* OVERLAY */
.gallery-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.4s ease;
  color: #fff;
}

.gallery-overlay h3{
  font-size: 32px;
  margin-bottom: 10px;
}

.gallery-overlay span{
  padding: 10px 26px;
  border-radius: 30px;
  border: 1.5px solid #ffffff;
  font-size: 14px;
}

/* HOVER EFFECT */
.gallery-card:hover img{
  transform: scale(1.15);
}

.gallery-card:hover .gallery-overlay{
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 1100px){
  .gallery-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px){
  .gallery-grid{
    grid-template-columns: 1fr;
  }

  .gallery-hero h1{
    font-size: 64px;
  }
}
