@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.hero{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../assets/landing.jpg") center/cover no-repeat;
}

.hero-slide{
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  animation: slideUpOverlap 32s infinite linear;
  will-change: transform;
}

.slide-1{ animation-delay: 0s; }
.slide-2{ animation-delay: 8s; }
.slide-3{ animation-delay: 16s; }
.slide-4{ animation-delay: 24s; }


.hero-slide video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-slide::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.hero-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Allura', cursive;
  font-size: 96px;
  color: #fff;
  z-index: 3;
  text-shadow: 0 12px 30px rgba(0,0,0,0.45);
}

@keyframes slideUpOverlap{
  0%{
    transform: translateY(100%);
  }
  3%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(0);
  }

  43%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(-100%);
  }
}

@media (max-width: 768px){
  .hero-title{
    font-size: 56px;
  }
}
