
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  overflow: hidden;
}

.navbar{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 16px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  z-index: 1000;
}

.logo-script{
  font-family: 'Allura', cursive;
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
}


.nav-links{
  display: flex;
  gap: 30px;
}

.nav-links a{
  text-decoration: none;
  color: #f2f2f2;
  font-size: 15px;
  position: relative;
}

.nav-links a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: 0.3s ease;
}

.nav-links a:hover::after{
  width: 100%;
}

.nav-actions{
  display: flex;
  gap: 14px;
  align-items: center;
}

.login-btn{
  padding: 10px 22px;
  border-radius: 30px;
  background: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover{
  background: rgba(255,255,255,0.2);
}

.nav-btn{
  padding: 10px 24px;
  border-radius: 30px;
  background: #ffffff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover{
  background: #ffd369;
}

.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h1{
  font-size: 48px;
  max-width: 800px;
}

@media (max-width: 768px){
  .nav-links{
    display: none;
  }
}
